<nav class="flex-container">
  <a href="https://campgroundbooking.com/" class="logo" target="blank">
    <img src="./assets/gs-logo.png" alt="company logo" width="50" />
  </a>
  <ul class="navigation">
    <li class="nav-item"><a href="#">FIND CAMPING & LODGING</a></li>
    <li class="nav-item"><a href="#"> PLAN TRIP</a></li>
    <li class="nav-item"><a href="#">ABOUT</a></li>
    <li class="nav-item"><a href="#">BLOG</a></li>
    <li class="nav-item"><a href="#"> CONTACT US </a></li>
  </ul>
</nav>
<div class="flex-container">
  <h2></h2>
  <div class="navigation">
    <input
      type="file"
      class="file-input"
      accept=".csv"
      (change)="onFileSelected($event)"
      onclick="this.value=null"
      #fileUpload
    />

    <div class="file-upload-container">
      <button class="file-upload-btn" (click)="fileUpload.click()">
        UPLOAD CSV
      </button>
    </div>
    <input
      class="search-bar"
      type="search"
      placeholder="Filter table"
      (keyup)="filterDatatable($event)"
    />
  </div>
</div>
<div class="item">
  <ngx-datatable
    class="material"
    [rows]="rows"
    [columns]="columns"
    [rowHeight]="50"
    [headerHeight]="50"
    [columnMode]="'force'"
  >
  </ngx-datatable>
</div>
