@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Open+Sans:wght@600&display=swap");

nav {
  width: 100%;
  background-color: #2d2a29;

  margin-bottom: 10px;
}
.logo {
  display: inline-block;
  margin-left: 1%;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #7f817c;
  font-family: "Open Sans", sans-serif;

  &:hover {
    color: #fff;
    transition: 0.3s;
  }
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #c1122a;
  margin-bottom: 1rem;
}

.navigation {
  display: flex;
  list-style: none;
}

.item {
  // height: 100vh;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.file-input {
  display: none;
}

.search-bar {
  margin-left: 1rem;
  width: 25vw;

  &:hover {
    transition: 0.3s;
    border-color: #c1122a;
  }
}

.file-upload-btn {
  background-color: #c1122a;
  border-color: #c1122a;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  padding: 0.5rem;
}

h2 {
  font-family: "Open Sans", sans-serif;
  color: #7f817c;
}

.logo-container {
  margin-top: 10px;
  margin-bottom: 10px;
}
